form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-form-field {
    width: 100%;
  }
  .remember-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
